body {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.contact {
padding-top: 50px;
}